@import '../assets/icon/iconfont.css';

.n-icon {
  font-size: 16px;
  vertical-align: -0.125em;
}

.ik-118-datav {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
